    <mat-card *ngFor="let parkItem of parkings">
      {{ parkItem.parking?.Street }} {{ parkItem.parking?.StreetNo }}{{ parkItem.parking?.StreetNoSuffix }}<br>{{ parkItem.parking?.ZIP }} {{ parkItem.parking?.Location }}
      <button (click)="onAddReservation(parkItem.parking?.id)"  mat-mini-fab color="primary" class="addButton">
        <mat-icon *ngIf="parkItem.isPending">remove</mat-icon>
        <mat-icon *ngIf="!parkItem.isPending">add</mat-icon>
      </button>
    <app-reservation-edit *ngIf="parkItem.isPending"></app-reservation-edit>
    </mat-card>
