mat-card {
  padding: 2px;
}

.card-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.card-left-header {
  display: flex;
}

.card-title-image {
  background-image: url('/assets/parking_logo.png');
  background-size: cover;
}

.card-left-header-title {
  padding-left: 10px;
}

.card-right-header {
  display: flex;
  justify-content: right;
}

.card-right-header-add {
  padding-top: 10px;
}

.card-container {
  padding: 10px;
}