<mat-card>
  <mat-list>
    <mat-list-item *ngFor="let reservation of reservations">
      <!-- {{ reservation.Parking.Street }} {{ reservation.Parking.StreetNo }}{{ reservation.Parking.StreetNoSuffix }}, {{ reservation.Parking.ZIP }} {{ reservation.Parking.Location }} -->
      {{ reservation.ID_Parking }}
      <!-- {{ reservation.DateTimeFrom | date:'medium'}} - {{reservation.DateTimeTo | date:'shortTime'}} -->
      {{ reservation.Amount }} CHF
      <button mat-button *ngIf="!reservation.IsCanceled"> Storno</button>
      <button mat-button (click)="clickEdit(reservation.id)">Edit</button>
<!--      [routerLink]="['/parking', 'list']" [queryParams]="{ location: location, dateTimeFrom: dateTimeFrom, duration: duration }"-->
    </mat-list-item>
  </mat-list>
</mat-card>
