<mat-list>
  <mat-card *ngFor="let reservation of reservations">
    <mat-list-item>
      <img mat-list-icon src="/assets/parking_logo.png" />
      {{ reservation.Parking?.Street }} {{ reservation.Parking?.StreetNo
      }}{{ reservation.Parking?.StreetNoSuffix }},
      {{ reservation.Parking?.ZIP }} {{ reservation.Parking?.Location }} <br />
      {{ reservation.DateTimeFrom | date: "dd.MM.YYYY HH:mm" }} -
      {{ reservation.DateTimeTo | date: "dd.MM.YYYY HH:mm" }} CHF
      {{ reservation.Amount }}
    </mat-list-item>
    <mat-card-actions align="end">
      <button mat-raised-button (click)="clickEdit(reservation.id)">
        Anpassen
      </button>
    </mat-card-actions>
  </mat-card>
</mat-list>
