<mat-card>
  <h3>Finde deinen Parkplatz</h3>
  <form class="search-form">
    <mat-form-field appearance="fill">
      <input type="input" matInput [value]="location" placeholder="Ort">
    </mat-form-field>
    <mat-form-field *ngIf="alternativeDateTime">
      <input matInput type="datetime-local" [value]="dateTimeFrom" placeholder="Datum/Zeit">
    </mat-form-field>
    <mat-form-field *ngIf="alternativeDateTime">
      <input matInput type="number" [value]="duration" placeholder="Dauer">
    </mat-form-field>
    <div class="buttons" *ngIf="!alternativeDateTime">
      <button mat-raised-button type="button" (click)="alternativeDateTime = !alternativeDateTime">Datum/Zeit</button>
      <button mat-raised-button color="primary" [routerLink]="['/parking', 'list']" [queryParams]="{ location: location }" type="submit">ab sofort <mat-icon>arrow_right_alt</mat-icon></button>
    </div>
    <div class="buttons" *ngIf="alternativeDateTime">
      <button mat-raised-button color="primary" [routerLink]="['/parking', 'list']" [queryParams]="{ location: location, dateTimeFrom: dateTimeFrom, duration: duration }" type="submit">suchen <mat-icon>arrow_right_alt</mat-icon></button>
    </div>
  </form>
</mat-card>
