.buttonbox {
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.deleteButton {
  margin-top: 10px;
  margin-right: 10px;
}
