<app-shared-button-bar>
  <button mat-mini-fab color="ancent" type="button" mat-button *ngIf="reservation?.id" data-cy="delete-button"
    (click)="deleteReservation(reservation.id)" class="deleteButton">
    <mat-icon>delete</mat-icon>
  </button>
</app-shared-button-bar>

<form [formGroup]="reservationForm" (submit)="onEdit(reservationForm.value)">
  <mat-card>
    <mat-form-field class="hiddenField">
      <input matInput placeholder="ID" formControlName="id" />
    </mat-form-field>
    <mat-form-field style="display: none">
      <input matInput placeholder="ID_Renter" formControlName="ID_Renter" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="fromPicker" placeholder="von" formControlName="DateTimeFrom">
      <mat-datepicker-toggle matSuffix [for]="$any(fromPicker)">
      </mat-datepicker-toggle>
      <ngx-mat-datetime-picker #fromPicker [stepMinute]="5">
      </ngx-mat-datetime-picker>
      <mat-error *ngIf="f.DateTimeFrom.errors?.dateInPast" class="alert alert-danger">
        {{f.DateTimeFrom.errors?.dateInPast.value}}</mat-error>
      <mat-error *ngIf="f.DateTimeFrom.errors?.existsReservationValidator" class="alert alert-danger">
        {{f.DateTimeFrom.errors?.existsReservationValidator.value}}</mat-error>
      <mat-error *ngIf="f.DateTimeFrom.errors?.dateBeforeValidator" class="alert alert-danger">
        {{f.DateTimeFrom.errors?.dateBeforeValidator.value}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="toPicker" placeholder="bis" formControlName="DateTimeTo"
        [value]="this.reservation.DateTimeTo" data-cy="data-to">
      <mat-datepicker-toggle matSuffix [for]="$any(toPicker)">
      </mat-datepicker-toggle>
      <ngx-mat-datetime-picker #toPicker [stepMinute]="5">
      </ngx-mat-datetime-picker>
      <mat-error *ngIf="f.DateTimeTo.errors?.existsReservationValidator" class="alert alert-danger">
        {{f.DateTimeTo.errors?.existsReservationValidator.value}}</mat-error>
      <mat-error *ngIf="f.DateTimeTo.errors?.dateInPast" class="alert alert-danger">
        {{f.DateTimeTo.errors?.dateInPast.value}}</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field style="display: none">
      <input matInput placeholder="ID_Parking" formControlName="ID_Parking" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Betrag" formControlName="Amount"
        [value]="this.reservation.Amount | currency: 'CHF' " />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CHF/h" formControlName="PricePerHour" />
    </mat-form-field>
  </mat-card>
  <app-shared-button-bar-edit [backLink]="'/reservation'" [form]="reservationForm" [object]="reservation" [resetFunction]="resetForm"></app-shared-button-bar-edit>
</form>
