.container {
  display: flex;
  justify-content: space-between;
}

.parkings {
  flex-grow: 3;
}

.buttonbox {
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.addButton {
  margin-top: 10px;
  margin-right: 10px;
}
