.mat-list-item-row {
    display: flex;
    justify-content: space-between;
}

.filterHistory {
    padding-top: 5px;
}

.reservations {
    padding-top: 5px;
    padding-bottom: 15px;
}

.reservations p {
    margin: 0px;
}