<mat-list-item routerLink="/parkingAdministration/{{ parking?.id }}" class="parking-mat-list-item">
  <div class="mat-list-item-card">
    <div class="parking-list-item-image">
      <div mat-card-avatar class="card-title-image"></div>
    </div>
    <div class="parking-list-item-content">
      <div class="mat-list-item-row">
        <p class="mat-title">{{ parking?.Street }} {{ parking?.StreetNo }}{{ parking?.StreetNoSuffix }}</p>
      </div>
      <div class="mat-list-item-row">
        <p class="mat-subheading-1">{{ parking?.ZIP }} {{ parking?.Location }}</p>
      </div>
    </div>
  </div>
</mat-list-item>